@import 'styles.scss';

.app-layout {
  display: flex;
  justify-content: space-between;
  padding: $spacing-unit;

  &__nav-column {
    width: 250px;
  }

  &__content-column {
    flex-grow: 1;
    margin-left: $spacing-unit;
    padding: $spacing-unit;
  }
}
