@import 'styles.scss'; // Import your global styles or variables if needed

.blog-category-result {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    flex: 1 1 calc(33.333% - $spacing-unit);
    max-width: calc(33.333% - $spacing-unit);
    box-sizing: border-box;
    margin-bottom: $spacing-unit;
  }
}
